<div class="container">
    <div class="row">
        <div class="col-md-6 offset-3">

            <h1 class="addpost-title text-center">Edit Article</h1>
            <div class="margin-tb-2">

                <form action="/admin/posts/{{post.id}}?_method=PUT" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="_method" value="PUT">
                    <input type="hidden" name="slugTitle" value="{{post.slugTitle}}">
                    <input type="text" name="title" class="form-control" value="{{post.title}}" required autofocus>
                    <textarea name="content" class="form-control" rows="5"  required autofocus>{{post.content}}</textarea>
                    <input type="file" accept="image/*" name="post_image" class="form-control" autofocus>

                    <select name="category" class="form-control">
                        {{#each categories}}
                        <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </select>

                    <button class="btn btn-lg btn-primary btn-block form-control" type="submit">
                        Edit </button>
                </form>
            </div>
        </div>
    </div>
</div>